
<style>


footer {
    width: 100%;
    height: 20px;
    background-color: rgb(0, 65, 105);
    color: white;
    text-align: center;
    padding:  10px;
    position:absolute;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
</style>

<footer>
    
    <p> &copy; copy rights </p>
</footer>